body{
	padding: 5%;
	height:100vh;
	background-color: blue;
	font-family: 'Open Sans', serif;
	font-size: 1.2em
}

#list{
	margin-top:1%;
}

.title {
	font-size: 3em;
	font-family: 'Weather App', Sans-serif;
        font-style: italic;
}
