body{
	padding: 5%;
	height:100vh;
	background: linear-gradient(135deg,#fcf9ea 0%,#badfdb ,#f8a978 ,#ffc5a1 100%);
	font-family: 'Patrick Hand', cursive;
	font-size: 1.25em
}

#list{
	margin-top:1%;
}

.title {
	font-size: 3em;
}